#crumb	{
	text-align:right;
	margin-right:20px;margin-left:20px; margin-bottom:5px;	
}
#crumb, #crumb a	{
	font-size: 11px;
	color: darkgrey;
}

#side	{
	font-size:11px;
}

button	{
	border: 1px solid black;
}

div.error	{
	height: 100px;
	text-align:center;
	font-size:15px;
}

.err	{
	text-align:center;
	color:red;
	font-weight: bold;
}

button.menuButton	{
	width:200px;
	border-right:2px solid black;
	border-bottom: 2px solid black;
}

div.elementTile	{
	padding:20px;
}