html,body{margin:0;padding:0}

body {
	font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}

a {
	color: #6085CC; /* c75f3e; */
}

form	{
	padding-left:10px;		
}
	
#reportDiv	{
	background: #E6EAE9;	
}
#reportDiv table {
	width: 700px;
	padding: 0;
	margin: 0;
}

#reportDiv caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

td a, th a	{
	color: #000;
	text-decoration:none;
	font-weight:normal;
}

td a 	{
	text-decoration:underline;	
}

#reportDiv th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #6085CC; /*C1DAD7*/
	border-bottom: 1px solid #6085CC;
	border-top: 1px solid #6085CC;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #6085CC url(../images/eagle/bg_header.jpg) no-repeat; /*CAE8EA */
}

#reportDiv th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

#reportDiv td {
	border-right: 1px solid #6085CC; /* C1DAD7 */
	border-bottom: 1px solid #6085CC;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


#reportDiv td.alt {
	background: #F5FAFA;
	color: #797268;
}

#reportDiv th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

.scroller	{
	/* scroller table */
	clear:right;
}

.standard{
	float:right;
	margin-right: 50px;
	margin-top:10px;
}
.scroller a	{
	text-decoration:none;
}
.activePage a	{
	text-decoration:underline;
}

#filterButtons input	{
	font-size:12px;
}