<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean name="/login"
		class="gov.nih.nci.eagle.web.struts.LoginAction">
		<property name="loginService">
			<ref bean="loginService" />
		</property>
	</bean>
	<!-- 
	<bean name="/classComparisonInit"
		class="gov.nih.nci.eagle.web.struts.ClassComparisonAction" scope="prototype">		
	</bean>
	-->
	<!-- bean name="/clinicalQuery"
		class="gov.nih.nci.eagle.web.struts.ClinicalAction" scope="prototype">
		<property name="strategy">
			<ref bean="clinicalFindingStrategy" />
		</property>
		<property name="dtoBuilder">
			<ref bean="clinicalQueryDTOBuilder" />
		</property>			
	</bean>
	
	<bean name="/clinicalInit"
		class="gov.nih.nci.eagle.web.struts.ClinicalAction" scope="prototype">		
	</bean>
	
	<bean name="/clinicalReport"
		class="gov.nih.nci.eagle.web.struts.ClinicalAction" scope="prototype">	
		<property name="cacheManager" ref="businessCacheManager" />	
	</bean-->

	<bean name="/epiQueryInit"
		class="gov.nih.nci.eagle.web.struts.EpiAction" scope="prototype">		
	</bean>
	
	<bean name="/epiQuery"
		class="gov.nih.nci.eagle.web.struts.EpiAction" scope="prototype">		
	</bean>	
	<!-- bean name="/epiReport"
		class="gov.nih.nci.eagle.web.struts.EpiAction" scope="prototype">	
		<property name="cacheManager" ref="businessCacheManager" />	
	</bean -->
	
</beans>