<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
       
       
	<bean id="featureService" class="gov.nih.nci.eagle.web.ajax.FeatureServiceImpl">
		<dwr:remote javascript="FeatureService">
		</dwr:remote>
		<property name="findingsManager" ref="eagleFindingsManager" />
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
	<bean id="chromosomeBrowserHelper" class="gov.nih.nci.eagle.web.ajax.ChromosomeBrowserHelper">
		<dwr:remote javascript="ChromosomeBrowserHelper" >
			<dwr:convert type="collection" class="java.util.Collection"/>
			<dwr:convert type="bean" class="gov.nih.nci.eagle.web.ajax.ChromosomeCytoband"/>
			<dwr:convert type="bean" class="gov.nih.nci.eagle.web.ajax.Feature"/>
		</dwr:remote>
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
	<bean id="expressionService" class="gov.nih.nci.eagle.web.ajax.ExpressionServiceImpl">
		<dwr:remote javascript="ExpressionService" >
			<dwr:convert type="collection" class="java.util.Collection"/>
			<dwr:convert type="bean" class="gov.nih.nci.eagle.web.ajax.ReporterExpressionValue"/>
		</dwr:remote>
	</bean>       
       
</beans>