<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<!-- Findings Manager -->
	<bean id="eagleFindingsManager"
		class="gov.nih.nci.caintegrator.studyQueryService.FindingsManagerImpl"
		scope="prototype">
		<property name="strategyList">
			<list>
				<ref bean="epiQueryStrategy" />
				<ref bean="clinicalQueryStrategy" />
				<ref bean="classComparisonQueryStrategy" />
                <ref bean="fTestQueryStrategy" />
			</list>
		</property>
	</bean>



	<!-- Bean for CSM Login Service -->
	<bean id="loginService"
		class="gov.nih.nci.eagle.service.security.CsmLoginService">
	</bean>

	<!--  Beans to handle the findings -->
	<bean id="epiQueryStrategy"
		class="gov.nih.nci.caintegrator.application.service.strategy.AsynchronousFindingStrategy" scope="prototype">
		<property name="queryHandler" ref="epiQueryHandler" />
		<property name="businessCacheManager" ref="businessCacheManager" />
		<property name="taskExecutor" ref="taskExecutor" />
		<property name="taskResult" ref="taskResult" />
	</bean>
	<bean id="clinicalQueryStrategy"
		class="gov.nih.nci.caintegrator.application.service.strategy.AsynchronousFindingStrategy" scope="prototype">
		<property name="queryHandler" ref="clinicalQueryHandler" />
		<property name="businessCacheManager" ref="businessCacheManager" />
		<property name="taskExecutor" ref="taskExecutor" />
		<property name="taskResult" ref="taskResult" />
	</bean>
	<bean id="classComparisonQueryStrategy"
		class="gov.nih.nci.eagle.service.strategies.ClassComparisonFindingStrategy" scope="prototype">
		<property name="businessCacheManager" ref="businessCacheManager" />
		<property name="taskResult" ref="classComparisonTaskResult" />
		<property name="analysisServerClientManager" ref="analysisServerClientManager" />
	</bean>

     <bean id="fTestQueryStrategy"
		class="gov.nih.nci.eagle.service.strategies.FTestFindingStrategy" scope="prototype">
		<property name="businessCacheManager" ref="businessCacheManager" />
		<property name="taskResult" ref="classComparisonTaskResult" />
		<property name="analysisServerClientManager" ref="analysisServerClientManager" />
	</bean>
	<bean id="classComparisonTaskResult" class="gov.nih.nci.caintegrator.service.findings.ClassComparisonFinding" scope="prototype">
	</bean>

	<bean id="epiQueryHandler"
		class="gov.nih.nci.eagle.service.handlers.EpidemiologicalQueryHandler" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="clinicalQueryHandler"
		class="gov.nih.nci.eagle.service.handlers.ClinicalQueryHandler" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!--  Bean for Business cache manager -->
	<bean id="businessCacheManager"
		class="gov.nih.nci.caintegrator.application.cache.BusinessCacheManager"
		factory-method="getInstance">
	</bean>
	<bean id="presentationCacheManager" class="gov.nih.nci.caintegrator.application.cache.PresentationCacheManager" factory-method="getInstance">
	</bean>	
	<!-- Beans for analysis server -->
	<!--  
	<bean id="analysisServerClientManager"
		class="gov.nih.nci.caintegrator.application.analysis.AnalysisServerClientManager"
		factory-method="getInstance">
	</bean>
	-->

	<!-- Beans for DTO builders -->
	<bean id="classComparisonQueryDTOBuilder"
		class="gov.nih.nci.eagle.query.dto.ClassComparisonQueryDTOBuilder" scope="prototype">		
		</bean>

	<!--  Beans for DWR -->
	<!-- >bean id="annotationHelper" class="gov.nih.nci.eagle.web.ajax.AnnotationHelper">
		<dwr:remote javascript="AnnotationService"/>
		<property name="annotationManager" ref="annotationManager" />
		</bean-->
	<bean id="inbox" class="gov.nih.nci.caintegrator.application.inbox.QueryInbox">
      <dwr:remote javascript="Inbox"/>
      <property name="findingsManager">
			<ref bean="eagleFindingsManager" />
	  </property>
	  <property name="businessTierCache" ref="businessCacheManager" />
	  <property name="presentationTierCache" ref="presentationCacheManager" />
    </bean>
	
	<!--  Bean for thread pool -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="50" />
		<property name="queueCapacity" value="200" />
	</bean>


</beans>