<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean name="/login"
		class="gov.nih.nci.eagle.web.struts.LoginAction">
		<property name="loginService">
			<ref bean="loginService" />
		</property>
	</bean>

	<bean name="/classComparisonInit"
		class="gov.nih.nci.eagle.web.struts.ClassComparisonAction" scope="prototype">		
	</bean>
	<bean name="/classComparison"
		class="gov.nih.nci.eagle.web.struts.ClassComparisonAction" scope="prototype">		
		<property name="findingsManager" ref="eagleFindingsManager"/>
		<property name="presentationCacheManager" ref="presentationCacheManager" />				
		<property name="dtoBuilder" ref="classComparisonQueryDTOBuilder" />				
	</bean>	
	<bean name="/chromosomeBrowserInit"
		class="gov.nih.nci.eagle.web.struts.ChromosomeBrowserAction" scope="prototype">		
	</bean>
	<bean name="/chromosomeBrowser"
		class="gov.nih.nci.eagle.web.struts.ChromosomeBrowserAction" scope="prototype">		
		<property name="findingsManager" ref="eagleFindingsManager"/>
		<property name="presentationCacheManager" ref="presentationCacheManager" />				
		<property name="dtoBuilder" ref="chromosomeBrowserQueryDTOBuilder" />				
	</bean>		
	<bean name="/classComparisonReport"
		class="gov.nih.nci.eagle.web.struts.ClassComparisonAction" scope="prototype">		
		<property name="presentationCacheManager" ref="presentationCacheManager" />	
		<property name="findingsManager" ref="eagleFindingsManager"/>			
	</bean>	
	<bean name="/ftestReport"
		class="gov.nih.nci.eagle.web.struts.ClassComparisonAction" scope="prototype">		
		<property name="presentationCacheManager" ref="presentationCacheManager" />	
		<property name="findingsManager" ref="eagleFindingsManager"/>			
	</bean>	
	<bean name="/glmReport"
		class="gov.nih.nci.eagle.web.struts.ClassComparisonAction" scope="prototype">		
		<property name="presentationCacheManager" ref="presentationCacheManager" />	
		<property name="findingsManager" ref="eagleFindingsManager"/>			
	</bean>	

	<bean name="/clinicalQuery"
		class="gov.nih.nci.eagle.web.struts.ClinicalAction" scope="prototype">		
		<property name="findingsManager" ref="eagleFindingsManager"/>
		<property name="presentationCacheManager" ref="presentationCacheManager" />				
	</bean>
	
	<bean name="/clinicalInit"
		class="gov.nih.nci.eagle.web.struts.ClinicalAction" scope="prototype">		
	</bean>
	
	<!--  bean name="/clinicalReport"
		class="gov.nih.nci.eagle.web.struts.ClinicalAction" scope="prototype">	
		<property name="cacheManager" ref="businessCacheManager" />	
	</bean-->

	<bean name="/epiQueryInit"
		class="gov.nih.nci.eagle.web.struts.EpiAction" scope="prototype">		
		<property name="lookupLoader" ref="lookupLoader"/>
	</bean>
	
	<bean name="/epiQuery"
		class="gov.nih.nci.eagle.web.struts.EpiAction" scope="prototype">		
		<property name="findingsManager" ref="eagleFindingsManager"/>
		<property name="presentationCacheManager" ref="presentationCacheManager" />
		<property name="dtoBuilder" ref="epiDTOBuilder" />
	</bean>	
	<bean name="/epiReport"
		class="gov.nih.nci.eagle.web.struts.EpiAction" scope="prototype">	
		<property name="presentationCacheManager" ref="presentationCacheManager" />
	</bean>
	
	<bean name="/snpQueryInit"
		class="gov.nih.nci.eagle.web.struts.SnpAction" scope="prototype">		
	</bean>
	<bean name="/snpQuery"
		class="gov.nih.nci.eagle.web.struts.SnpAction" scope="prototype">		
		<property name="presentationCacheManager" ref="presentationCacheManager" />
		<property name="findingsManager" ref="eagleFindingsManager" />
		<property name="dtoBuilder" ref="snpDTOBuilder" />
	</bean>	
	<bean name="/snpReport"
		class="gov.nih.nci.eagle.web.struts.SnpAction" scope="prototype">	
		<property name="presentationCacheManager" ref="presentationCacheManager" />
	</bean>	
	
</beans>